# Mainly to test my feature engineering

#### *Failed hilariously (only got to 70%, 61% can be achieve by random guess) either due to bad & arbitrary cabin binning and other lost information which either inputs noise or does not provide sufficient information for classification

In [393]:
import seaborn as sns
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, roc_curve
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.pipeline import make_pipeline

In [505]:
import pandas as pd

titanic_train = pd.read_csv('titanic_train.csv')

titanic_train = titanic_train.drop(['Unnamed: 0'], axis = 1)

titanic_train.head(100)

,Survived,Age,Fare,Sex 1,Sex 2,Cabin 1,Cabin 2,Pclass 1,Pclass 2,Pclass 3,Embarked 1,Embarked 2,Embarked 3
0,0.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,7.0,13.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1.0,4.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,1.0,7.0,12.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,7.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,3.0,4.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
96,0.0,9.0,11.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
97,1.0,3.0,13.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
98,1.0,6.0,9.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
99,0.0,6.0,9.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [395]:
#Normalize the data points for feature matrix
X_data = titanic_train.drop(['Survived'], axis = 1)

#Extract target array
y_target = titanic_train['Survived'].values

In [512]:
x_train, x_test, y_train, y_test = train_test_split(X_data, y_target)

forest = RandomForestClassifier()
forest.fit(x_train, y_train)

print(np.mean(cross_val_score(forest, x_test, y_test, cv = 10)))

print()

0.6855731225296442

In [460]:
x_train, x_test, y_train, y_test = train_test_split(X_data, y_target)

logit = LogisticRegression()
logit.fit(x_train, y_train)

print(np.mean(cross_val_score(logit, x_test, y_test, cv = 5)))

0.722020202020202

In [504]:
x_train, x_test, y_train, y_test = train_test_split(X_data, y_target)

knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

print(np.mean(cross_val_score(knn, x_test, y_test, cv = 5)))

0.7083838383838386

In [281]:
x_train, x_test, y_train, y_test = train_test_split(X_data, y_target)

naive = GaussianNB()
naive.fit(x_train, y_train)

print(np.mean(cross_val_score(naive, x_test, y_test, cv = 5)))

0.6633333333333333