In [2]:
import pandas as pd

In [4]:
mysolution =  pd.read_csv('datacamp_workspace_export_2022-12-29 17_21_45.csv')
datacampsolution = pd.read_csv('datacamp_workspace_export_2022-12-29 17_21_48.csv')

In [6]:
mysolution.head()

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,699,city_103,0.919922,NaN,Has relevant experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0
1,25619,city_61,0.913086,Male,Has relevant experience,no_enrollment,Graduate,STEM,20,1000-4999,Pvt Ltd,3,23,0
2,22293,city_103,0.919922,Male,Has relevant experience,Part time course,Graduate,STEM,19,5000-9999,Pvt Ltd,>4,141,0
3,26494,city_16,0.910156,Male,Has relevant experience,no_enrollment,Graduate,Business Degree,12,5000-9999,Pvt Ltd,3,145,0
4,2547,city_114,0.925781,Female,Has relevant experience,Full time course,Masters,STEM,16,1000-4999,Public Sector,2,14,0

In [7]:
mysolution['student_id'].equals(datacampsolution['student_id'])

True